# Systemd 下 tomcat 启动脚本. 
# 文件保存位置: /usr/lib/systemd/system
# p.s. CATALINA_BASE 下需要有以下目录: 
#   logs   temp  work --Tomcat运行时需要  属主需要为: 程序运行用户
#   conf  webapps -- 保存配置和程序. 程序运行用户需要有`读`权限. 
[Unit]
Description=Tomcat
After=syslog.target network.target remote-fs.target nss-lookup.target
 
[Service]
Type=simple
# PIDFile=/run/tomcat.pid
ExecStart=/opt/server/apache-tomcat-7.0.76/bin/catalina.sh  run
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
User=webapp
PrivateTmp=true
Environment=JAVA_HOME=/usr/java/jdk1.7.0_79
Environment=CATALINA_HOME=/opt/server/apache-tomcat-7.0.76
Environment=CATALINA_BASE=/var/www/tomcat
# 设置 jvm 参数. 注意`CATALINA_OPTS`前后两端的单引号. 如果没有,会报错. p.s. 用双引号应该也行吧
Environment='CATALINA_OPTS=-Xms4096m -Xmx4096m -XX:MaxPermSize=1024m -Xss512k'

# 设置只读目录和可以读写的目录. 有效性未验证. :)
ReadOnlyPaths=/var/www/tomcat/webapps
ReadOnlyPaths=/var/www/tomcat/conf
ReadOnlyPaths=/var/www/tomcat/bin
ReadWritePaths=/var/www/tomcat/logs
ReadWritePaths=/var/www/tomcat/temp
ReadWritePaths=/var/www/tomcat/work
 
[Install]
WantedBy=multi-user.target
