# Systemd 下 tomcat 启动脚本. 
# 文件保存位置: /usr/lib/systemd/system
# p.s. CATALINA_BASE 下需要有以下目录: 
#   logs   temp  work --Tomcat运行时需要  属主需要为: 程序运行用户
#   conf  webapps -- 保存配置和程序. 程序运行用户需要有`读`权限. 
[Unit]
Description=Tomcat
After=syslog.target network.target remote-fs.target nss-lookup.target
 
[Service]
Type=simple
# PIDFile=/run/tomcat.pid
ExecStart=/opt/server/apache-tomcat-7.0.76/bin/catalina.sh  run
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
User=webapp
PrivateTmp=true
Environment=JAVA_HOME=/usr/java/jdk1.7.0_79
Environment=CATALINA_HOME=/opt/server/apache-tomcat-7.0.76
Environment=CATALINA_BASE=/var/www/tomcat
# 设置 jvm 参数. 注意`CATALINA_OPTS`前后两端需要用双引号或者单引号括起来. 否则会报错. 
# p.s.  Environment="变量1=xxx yyyy" "变量2=xxxx"
Environment='CATALINA_OPTS=-Xms4096m -Xmx4096m -XX:MaxPermSize=1024m -Xss512k'

# 设置只读目录和可以读写的目录. 有效性未验证. :)
## 设置 /var/www/tomcat 下所有目录为只读. webapps, conf, bin, etc
ReadOnlyDirectories=/var/www/tomcat
## 排除logs, temp, work. 这三个目录允许读写. 可以写在一行. 或者拆分多条
ReadWriteDirectories=/var/www/tomcat/logs /var/www/tomcat/temp  /var/www/tomcat/work
## 将 bin 目录设置为禁止访问
InaccessibleDirectories=/var/www/tomcat/bin
 
[Install]
WantedBy=multi-user.target
